@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

select {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 20px;
  width: 150px;
}

.header {
    background-image: url('../public/images/newspaper.jpg');
}

.filter {
  display: flex;
  align-items: center;
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  background-color: #d2d6d3;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.category_book, .self_book_author {
  color: #979998;
    text-decoration: underline;
}

.title_book {
  font-weight: bold;
}

.author_book, .self_book_category {
  color: #979998;
}

.image_book {
  margin-top: 20px;
  width: 128px;
  height: 180px;
}

.title_book, .author_book {
  padding: 0 10px;
}

.self_book_title {
  font-size: 28px;
  font-weight: bold;
}

.filter p {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
}

.filterContainer {
  display: flex;
  justify-content: space-around;
}

.form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Style the search field */
form.form input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 90%;
  background: #f1f1f1;
}

/* Style the submit button */
form.form button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.form button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.form::after {
  content: "";
  clear: both;
  display: table;
}

.self_book {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-between;
}

.self_book_image {
  width: 400px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin: -150px 0 0 -131.5px;
}

.btn_load {
  display: flex;
  margin: 10px auto;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn_load:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn_load:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.btn_load:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.btn_load:focus {
  outline: 1px transparent;
}

.btn_load:before {
  display: none;
}

.btn_load:-webkit-details-marker {
  display: none;
}

.info_container {
  padding: 0 10px;
}

.self_book_description {
  text-align: justify;
}

@media (max-width: 700px) {
  .self_book {
      flex-direction: column;
    }
    .self_book_image {
      min-width: 300px;
      width: 100%;
      max-width: 400px;
      padding: 0 10px;
    }
}

@media (max-width: 600px) {
  .filterContainer {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
}
